#userListing,
#header {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
}

#userListing > * {
  margin: 10px;
}
.core-card-color {
  background: #cfcfcf;
}
.test-centering {
  display: flex;
  align-items: center;
  justify-content: center;
}
