#map {
  float: right;
  width: 40%;
  padding-bottom: "20px";
  padding: 2%;
}

#sub-form {
  display: block;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  max-width: 80%;
  margin: 25px auto 25px auto;
  position: relative;
}

#title {
  background-color: black;
  color: white;
  margin: auto;
  padding: 10px;
  margin-bottom: 10px;
}


#sub-header {
  background-color: black;
  color: white;
  margin:auto; 
  padding: 5px;
  margin-bottom: 20px;
  width: 95%;
}

#main_form {
  float: left;
  align-items: center;
  justify-content: center;
  width:60%;
  padding:2%;
}

#main_form_no_map {
  float: left;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2%;
}

#label-user {
  width: 30%;
  color: black;
  /* Positions the label text beside the input */
  text-align: right;
}

#input-user{
  width: 40%;
  /* Large margin-right to force the next element to the new-line
           and margin-left to create a gutter between the label and input */
  margin: 2% 15% 0 4%;
}
#input-user-inline-item {
  display:inline-flex;
  margin:2% 15% 0% 4%;
  width: 40%;
}

#content {
  background: #f6f9f7;
  margin: auto auto 20px;
  overflow-x: auto;
  padding-bottom: 20px;
  width: 95%;
}



