#student_create_container {
    /* width: 80%;
    align-items: center;
    float: center; */
    /* margin: 3% auto; */
    width: 80%;
    background-color:linen;
    border:1px solid grey;
  }
  #content {
    width:70%;
    margin:auto; 
    height:auto; 
    background:linen; 
    overflow:auto;
    
  }

  
  #student_create_form {
    /* padding-left: 5%; */
    float: left;
    align-items: center;
    width: 50%;
  }

  
  label,
  input {
    /* In order to define widths */
    display: inline-block;
  }
  label {
    width: 30%;
    /* Positions the label text beside the input */
    text-align: right;
  }
  
  label+input {
    width: 30%;
    /* Large margin-right to force the next element to the new-line
             and margin-left to create a gutter between the label and input */
    margin: 2% 30% 0 4%;
  }
  input+input {
    float: right;
  }
  
  
  
  
  
  /* 
  #address2 {
    float: left;
  } */
  
  /* .submitbutton {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    align-items: center;
  } */
  
  
  /* .user-list {
    margin-top: 30px;
    align-items: center;
  } */
  
  /* .user {
    list-style: none;
    margin: 10px 0;
    padding: 10px;
    background: #eee;
    width: 50%;
    justify-content: space-between;
    align-items: center;
  } */
  /* 
  .user-id {
    color: red;
    margin-right: 20px;
  }
  
  .user-name {
    color: blue;
  }
  
  .user-age {
    margin-left: auto;
  }
  
  input[type=radio] {
    border: 0px;
    width: 4em;
    height: 2em;
  } */