#schoolCreateForm {
  display: flex;
  width: 90%;
  align-items: center;
  align-text: center;
  height: 15%;
  padding: 10px;
}

#schoolCreateNameInput {
  flex: 30%;
  padding: 7px;
}

#schoolCreateAddressInput {
  flex: 30%;
  padding: 7px;
}

#schoolCreateTimeInput {
  flex: 15%;
  padding: 7px;
}
.test-centering {
  display: flex;
  align-items: center;
  justify-content: center;
}
