button {
  width: 170px;
  height: 60px;
  width: fit-content;
  min-width: 115px;
  margin: 5px;
  background-color: #34815c;
  color:white;
  border:1px solid black;
  /* background-color: whitesmoke; */
}

button:disabled {
  cursor: not-allowed;
}

#selected { 
  cursor: not-allowed;
  background-color: black;
  color: white;
  font-weight: bold;
}

#selectable {
  cursor: pointer;
}

/* #selectable:hover {
  background-color: white;
} */
