button {
  width: 150px;
  height: 50px;
  margin: 5px;
  background-color: whitesmoke;
}

#selected {
  cursor: not-allowed;
}

#selectable {
  cursor: pointer;
}

#selectable:hover {
  background-color: white;
}
