#input-label {
width: 30%;
/* Positions the label text beside the input */
text-align: right;
}

#input-input {
width: 30%;
/* Large margin-right to force the next element to the new-line
            and margin-left to create a gutter between the label and input */
margin: 0% 0% 0 4%;
}
#input-check {
    width: 30%;
    /* Large margin-right to force the next element to the new-line
                and margin-left to create a gutter between the label and input */
    margin: 0% 0% 0 4%;
}
  
#container {
width: 80%;
background-color:linen;
border:1px solid grey;
}
#content {
width:60%;
margin:auto; 
height:auto; 
background:linen; 
overflow:auto;
align-items: center;
}

#submitbutton {
    width:'5%';
    margin: auto;
    align-items: center;
    margin-bottom: 5px;
}

#title {
    background-color: black;
    color: white;
    margin:auto; 
    padding: 10px;
    margin-bottom: 20px;
  }