#input-label-email {
width: 35%;
/* Positions the label text beside the input */
text-align: right;
}

#input-input-email{
    width: 30%;
    min-width: 150px;
    /* Large margin-right to force the next element to the new-line
             and margin-left to create a gutter between the label and input */
    margin: 2% 20% 0 4%;
}

#input-input-select-email{
    width: 30%;
    min-width: 150px;
    /* Large margin-right to force the next element to the new-line
             and margin-left to create a gutter between the label and input */
    margin: 0 20% 0 4%;
}

#input-check-email {
    width: 30%;
    /* Large margin-right to force the next element to the new-line
                and margin-left to create a gutter between the label and input */
    margin: 2% 20% 0 4%;
}
#label-2{
    font-size: medium;
    /* Large margin-right to force the next element to the new-line
                and margin-left to create a gutter between the label and input */
    margin: 3% 0 0 0;
}
  
#container-email {
width: 80%;
background-color:linen;
border:1px solid grey;
}
#content-email {
width:60%;
margin:auto; 
height:auto; 
background:linen; 
overflow:auto;
align-items: center;
}

#submitbutton-email {
    width:'5%';
    margin: auto;
    align-items: center;
    margin-bottom: 5px;
}

#title-email {
    background-color: black;
    color: white;
    margin:auto; 
    padding: 10px;
    margin-bottom: 20px;
  }