#stepper {
    width: 40%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#step {
    width: 70%;
    margin: auto;
}

#question {
    color:black; 
    font-size: x-large;
    font-style: italic;
    padding: 10px;
    margin-top: 10px;
}

#centered-form {
    margin: auto;
    display: -webkit-inline-box
}

#file-display {
    border: 1px solid black;
    padding: 10px;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 45%;
}