.core-login-forms-pass {
  background: #cfcfcf;
}
.pass-wrapper {
  /* height: 100vh; */
  width: 50%;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  padding: 5em;
  background-color: #dadada;
  margin: 0 auto;
  /* background-size: 100%;
    min-height: max-content; */
}
