.core-login-forms-pass {
  background: #cfcfcf;
  max-width: 48em;
  align-items: center;
  align-content: center;
  align-self: center;
}
.pass-wrapper {
  /* height: 100vh; */
  width: 50%;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  padding: 5em;
  margin: 0 auto;
  /* background-size: 100%;
    min-height: max-content; */
}
.login-input-core {
  width: 92%;
}
.center {
  text-align: center;
}
