#parentStudentListing {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70%;
}

#input-input-student-parent, #input-input-student-display-parent {
  margin: 2% 20% 0 4%;
  min-width: 150px;
  width: 40%;
  background:inherit;
  border:none;
}