#routeDetailForm {
  width: 90%;
  display: flex;
  padding: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#routeDetailNameLabel {
  flex: 30%;
  text-align: center;
  align-items: center;
}

#routeDetailNameInput {
  width: 60%;
  padding: 5px;
}

#routeDetailDescriptionLabel {
  flex: 45%;
  text-align: center;
  align-items: center;
}

#routeDetailSchoolName {
  flex: 25%;
  text-align: center;
}

#routeDetailSchoolLink {
  padding-left: 5px;
}


#label-route {
  width: 40%;
  color: black;
  /* Positions the label text beside the input */
  text-align: right;
}

#input-route{
  width: 40%;
  /* Large margin-right to force the next element to the new-line
           and margin-left to create a gutter between the label and input */
  margin: 2% 15% 0 4%;
}

#input-route-display{
  width: 50%;
  /* Large margin-right to force the next element to the new-line
           and margin-left to create a gutter between the label and input */
  margin: 2% 35% 0 4%;
}
