#printableTable {
  width: 100%;
  margin: 0;
  float: none;
  text-align: center;
}

@media print{@page { margin: 2cm }}

#printableHeaderCell {
  border: solid 1px black;
  background: white;
  color: black;
  text-align: center;
  font-family: serif;
  font-size: 12pt;
}

#printableRosterCell {
  border: solid 1px black;
  text-align: center;
  font-family: serif;
  font-size: 12pt;
  break-inside: avoid-page;
  white-space: nowrap;
}
