.core-login-forms {
  background: #dadada;
  margin-top: 2em;
}
.header-image {
  height: 10em;
}
.login-input-core {
  width: 92%;
}

.login-wrapper {
  /* height: 100vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em;
  background-color: #dadada;
  /* background-size: 100%;
  min-height: max-content; */
}

/* .submitbutton {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: flex;
  flex-direction: column;

  border-radius: 4px;
  align-items: center;
} */

.site-title-wrapper {
  width: 100%;
  margin-bottom: 0.5em;
  text-align: center;
}
.center {
  text-align: center;
}
