#container {
    width: 80%;
    background-color:linen;
    border:1px solid grey;
  }
  #content {
    width:60%;
    margin:auto; 
    height:auto; 
    background:linen; 
    overflow:auto;
    align-items: center;
    
  }

  #form {
    /* padding-left: 5%; */
    float: left;
    align-items: center;
    width: 80%;
  }

  #input-label {
    max-width: 40%;
    /* Positions the label text beside the input */
    text-align: right;
  }

  #input-input {
    width: 50%;
    /* Large margin-right to force the next element to the new-line
             and margin-left to create a gutter between the label and input */
    margin: 2% 30% 0 4%;
  }

