#marker {
  width: 20px;
  height: 20px;
  background-color: lightcoral;
  border-radius: 50%;
  color: black;
}

#schoolMarker {
  color: black;
  transform: translateX(-50%) translateY(-50%);
}

#stopMarker {
  color: black;
  transform: translateX(-50%) translateY(-100%);
}

#currentStopMarker {
  color: green;
  transform: translateX(-50%) translateY(-100%);
}
