#markerText {
  background-color: white;
  border: solid .25em black;
  transform: translateX(-50%) translateY(-50%);
}

#noRouteMarker {
  color: red;
  cursor: pointer;
  transform: translateX(-50%) translateY(-100%);
}

#noStopMarker {
  color: orange;
  cursor: pointer;
  transform: translateX(-50%) translateY(-100%);
}

#currentRouteAndStopMarker {
  color: green;
  cursor: pointer;
  transform: translateX(-50%) translateY(-100%);
}

#currentRouteNoStopMarker {
  color: yellow;
  cursor: pointer;
  transform: translateX(-50%) translateY(-100%);
}

#currentRouteMarker {
  color: blue;
  cursor: pointer;
  transform: translateX(-50%) translateY(-100%);
}

#routeMarker {
  color: grey;
  cursor: pointer;
  transform: translateX(-50%) translateY(-100%);
}
