#noRouteMarker {
  width: 30px;
  height: 30px;
  background-color: red;
  cursor: pointer;
  border-radius: 50%;
}

#currentRouteMarker {
  width: 30px;
  height: 30px;
  background-color: green;
  cursor: pointer;
  border-radius: 50%;
}

#selectableRouteMarker {
  width: 20px;
  height: 20px;
  background-color: blue;
  cursor: pointer;
  border-radius: 50%;
}
